<div id="lists-index">
  <div class="banner">
    <h1>Save any kind of movies</h1>
  </div>

  <div class="container w-1200">
    <h2 data-aos="fade-up" data-aos-duration="1000">My Lists</h2>
    <div class="lists">
      <% @lists.each do |l| %>
        <%= link_to list_path(l), class: "text-inherit",
          data: { aos: "fade-up", "aos-delay": "300", "aos-duration": "1000" } do %>
          <div class="list-card"
              style="<%= "background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(#{cl_image_path l.photo.key})" if l.photo.attached? %>">
            <h3><%= l.name.upcase %></h3>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
