#lists-index {
  h2 {
    margin-bottom: 20px;
  }

  .list-card {
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), asset-url("list-banner.avif");
    background-size: cover;
    background-position: center;
    display: flex;
    height: 150px;
    justify-content: center;
    transform: scale(1);
    transition: transform 0.3s ease;
    width: 100%;

    &:hover {
      transform: scale(1.1);
    }

    h3 {
      color: snow;
    }
  }

  .lists {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;

    @media screen and (min-width: $small) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $large) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

#lists-show {
  button {
    background-color: transparent;
    border: none;
    color: rgba(211, 211, 211, 0.5);
    display: block;
    font-size: 1.5rem;
    margin: 0 0 20px auto;
    transform: rotate(0deg);
    transition: transform 0.3s ease;

    &.tilted {
      transform: rotate(45deg);
    }

    &:hover {
      color: lightgrey;
    }
  }

  .movies {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr;

    @media screen and (min-width: $large) {
      grid-template-columns: 1fr 1fr;
    }
  }

  #bookmark-form {
    background-color: $secondary-dark-grey;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(15, 15, 15, 0.7), 0 0 10px rgba(15, 15, 15, 0.3);
    height: max-content;
    margin: 20px 0;
    max-height: 500px;
    opacity: 1;
    overflow: hidden;
    transition: all 0.3s ease;

    &.h-0 {
      box-shadow: inset 0 0 30px rgba(15, 15, 15, 1), 0 0 10px rgba(15, 15, 15, 0.3);
      max-height: 0px;
      opacity: 0.5;
    }

    @media screen and (min-width: $large) {
      max-height: 100px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 20px;

      @media screen and (min-width: $large) {
        flex-direction: row;
      }
    }

    input, select {
      background-image: linear-gradient(to right, rgb(68, 68, 71), rgb(42, 42, 51));
      border: none;
      border-radius: 3px;
      box-shadow: inset 0 0 10px rgba(15, 15, 15, 0), 0 0 10px rgba(15, 15, 15, 0.3);
      color: inherit;
      width: 100%;
      padding: 0.375rem 0.75rem;
      transition: box-shadow 0.3s ease;

      &:focus {
        box-shadow: inset 0 0 10px rgba(15, 15, 15, 0.7), 0 0 10px rgba(15, 15, 15, 0.3);
        outline: none;
      }
    }

    option {
      background-color: $secondary-dark-grey;
      color: inherit;
      font-size: 2;
    }

    .form-content {
      display: grid;
      flex-grow: 1;
      gap: 20px;
      grid-template-columns: 1fr;

      @media screen and (min-width: $large) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
