.banner {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), asset-url("list-banner.avif");
  background-position: center;
  background-size: cover;
  display: flex;
  height: calc(100vh - 80px);
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;

  @media screen and (min-width: $small) {
    height: 500px;
  }
}
