.banner {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), asset-url("list-banner.avif");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 500px;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}
