.btn-default {
  border: 1px solid rgba(211, 211, 211, 0.2);
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: snow;
  opacity: 0.7;
  padding: 0.375rem 0.75rem;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

.btn-main {
  background-color: $main-dark-grey;
}

.btn-secondary {
  background-color: $secondary-dark-grey;
}
