.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#list-form {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-image: linear-gradient(135deg, rgb(68, 68, 71), rgb(42, 42, 51));
  border-radius: 3px;
  position: relative;

  .top-right-corner {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: rgba(211, 211, 211, 0.5);

    &:hover {
      color: lightgrey;
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .form-field {
    margin-bottom: 40px;

    &:last-of-type {
      margin: 0;
    }
  }

  p {
    margin-bottom: 5px;
    font-size: 0.8rem;
    color: rgba(211, 211, 211, 0.5);
  }

  input {
    width: 100%;
    padding: 10px 20px;
    background-image: linear-gradient(to right, rgb(68, 68, 71), rgb(42, 42, 51));
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(15, 15, 15, 0), 0 0 10px rgba(15, 15, 15, 0.3);
    transition: box-shadow 0.3s ease;
    color: inherit;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 10px rgba(15, 15, 15, 0.7), 0 0 10px rgba(15, 15, 15, 0.3);
    }
  }
}
