#reviews {
  border-top: 1px solid rgba(211, 211, 211, 0.5);
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-top: 50px;
  padding-top: 50px;

  input, textarea {
    background-image: linear-gradient(to right, rgb(68, 68, 71), rgb(42, 42, 51));
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(15, 15, 15, 0), 0 0 10px rgba(15, 15, 15, 0.3);
    color: inherit;
    padding: 10px 20px;
    transition: box-shadow 0.3s ease;

    &:focus {
      box-shadow: inset 0 0 10px rgba(15, 15, 15, 0.7), 0 0 10px rgba(15, 15, 15, 0.3);
      outline: none;
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }

  p {
    margin-bottom: 5px;
  }


  .field {
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    p {
      color: rgba(211, 211, 211, 0.5);
      font-size: 0.8rem;
    }
  }

  .review {
    border-bottom: 1px solid rgba(211, 211, 211, 0.3);
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 10px;

    &:last-child {
      border: none;
    }

    span {
      color: rgba(211, 211, 211, 0.5);
      font-size: 0.8rem;
    }
  }

  .stars {
    color: gold;
  }

  #review-form {
    background-color: $secondary-dark-grey;
    flex: 1 1 0px;
    height: max-content;
    padding: 15px;
  }

  #review-list {
    flex: 1 1 0px;
  }
}
